@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&display=swap');

/*font-family: 'Bungee', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&display=swap');

/*font-family: 'Bebas Neue', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Lalezar&display=swap');
/*font-family: 'Lalezar', cursive;*/

/* Configuração de Variáveis / Configurações Gerais*/

:root {
    --color1: #9145F7;
    --color2: #5D42ED;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Configuração do Cabeçalho*/

header{
    background-color: white;
    height: 150px;
}

header h1, header p {
    padding-top: 20px;
    font-family: 'Lalezar', cursive;
    color: black;
    text-align: center;
    font-weight: 1em;
    letter-spacing: 0.2em;
}

/* Configuração da barra de Navegação*/

nav {
    background-color: black;
    height: 50px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.397);
}

nav ul {
    margin-left: 20%;
}

nav li {
    float: left;
}

nav a {
    display: inline-block;
    color: white;
    height: 30px;
    padding: 10px 30px;
    line-height: 30px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--color1);
    color: azure;
}

input {
    height: 20px;
    width: 150px;
    margin: 15px;
}

/*Configuração Conteúdo*/

main{
    width: 80%;
    height: 95vh;
    margin: auto;
    margin-bottom: 50px;
}

.caixa {
    margin-left: 5%;
}

div.sombra {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
}

.capa {
    display: flex;
    width: 100%;
    height: 60%;
    margin-top: 5%;
}

.secao1 {
    display: block;
    width: 60%;
    height: 100%;
}

div#destaque {
    width: 100%;
    height: 100%;
}

div#destaque a {
    position: relative;
    display: block;
    background: repeating-linear-gradient(90deg, transparent 0px, transparent 3px, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), 
      linear-gradient(to right bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.25)), url(imagens/tec.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.secao2 {
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
}

div#primeiro {
    position: relative;
    width: 100%;
    height: 45%;
    margin-bottom: 5%;
}

div#segundo {
    position: relative;
    width: 100%;
    height: 45%;
    margin-top: 5%;
}

div#primeiro a {
    display: block;
    background: repeating-linear-gradient(90deg, transparent 0px, transparent 5px, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), 
    linear-gradient(to right bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.25)), url(imagens/lugar.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

div#segundo a {
    display: block;
    background: repeating-linear-gradient(90deg, transparent 0px, transparent 3px, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), 
      linear-gradient(to right bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.25)), url(imagens/pexels.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.lin{
    display: block;
    position: absolute;
    width: 70%;
    height: 10%;
    bottom: 25%;
    left: 5%;
}

.linkin {
    display: block;
    position: absolute;
    width: 80%;
    height: 10%;
    left: 5%;
    bottom: 70%;
}

.lin h2 {
    display: inline-block;
    background-color: var(--color1);
    text-align: center;
    color: white;
    padding: 10px;
    margin: 10px;
    letter-spacing: 5px;
    border-radius: 3px;
    font-size: 0.8em;
    font-family: 'Bungee', cursive;
}

.linkin h2 {
    display: inline-block;
    background-color: var(--color1);
    text-align: center;
    color: white;
    padding: 10px;
    margin: 10px;
    letter-spacing: 5px;
    border-radius: 3px;
    font-size: 0.5em;
    font-family: 'Bungee', cursive;
}

.lin p {
    margin-top: 5px;
    color: white;
    padding-top: 5px;
    margin-left: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2em;
}

.linkin p {
    margin-top: 5px;
    color: white;
    padding-top: 5px;
    margin-left: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1em;
}

p.detalhe {
    font-size: 1em;
    color: gray;
}

.linkin p.detalhe {
    font-size: 0.8em;
    color: gray;
}

/*Sub acessos
*****************************/

.sub {
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: 20%;
}

.legenda_sub {
    top: 40%;
    left: 5%;
}

.legenda_sub a {
    text-decoration: none;
    background-color: transparent;
}

.legenda_sub a:hover {
    font-size: 1.1em;
}

.legenda_sub h2 {
    display: inline-block;
    background-color: var(--color1);
    text-align: center;
    color: white;
    padding: 2%;
    font-weight: normal;
    border-radius: 3px;
    font-size: 0.8em;
    font-family: 'Bungee', cursive;
}

.legenda_sub p {
    margin-top: 5px;
    color: white;
    padding-top: 5px;
    font-family: 'Bebas Neue', cursive;
    font-size: 0.8em;
}
img {
    float: left;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    filter: grayscale(40%);
}

img:hover {
    filter: grayscale(0%);
}

div#um {
    width: 25%;
}

div#dois {
    width: 25%;
}

div#tres {
    width: 25%;
}

.acesso {
    margin-left: 7%;
    padding: 10px;
}

.acesso p {
    text-align: end;
    line-height: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.1em;
    padding: 10px;
}

.acesso a {
    text-decoration: none;
    color: black;
}

div.acesso:hover {
    background-color: #91458736;
    border-radius: 5px;
}

/*Configuração do Rodapé*/

footer{
    background-color: black;
    text-align: center;
    height: 5vh;
    color: white;
}

footer > p {
    line-height: 5vh;
}
